
<!doctype html>

<html lang="en">
  <head>
    <title>Web NFC Sample</title>
  </head>

  <body>
    
    <h1>Web NFC Sample</h1>
    <p class="availability">
    </p>
    <h3 >Background</h3>


<button id="scanButton">Scan</button>
<button id="writeButton">Write</button>
<button id="makeReadOnlyButton">Make Read-Only</button>


<p id="p1">Nfc scanner</p>

    
      <script>
      scanButton.addEventListener("click", async () => {
      console.log("User clicked scan button");
      document.getElementById("p1").innerHTML = "User clicked scan button";
      const ndef = new NDEFReader();
      ndef.scan().then(() => {
           document.getElementById("p1").innerHTML = "Scan started successfully.";
           console.log("Scan started successfully.");
      ndef.onreadingerror = () => {
           document.getElementById("p1").innerHTML = "Cannot read data from the NFC tag. Try another one?";
           console.log("Cannot read data from the NFC tag. Try another one?");};
      ndef.onreading = event => {
           document.getElementById("p1").innerHTML = "NDEF message read";
           console.log("NDEF message read.");};
}).catch(error => {
  console.log(`Error! Scan failed to start: ${error}.`);
  document.getElementById("p1").innerHTML = "Error! Scan failed to start:";
});
  
});

writeButton.addEventListener("click", async () => {
    console.log("User clicked write button");

  try {
    const ndef = new NDEFReader();
    await ndef.write("Hello world!");
    console.log("> Message written");
  } catch (error) {
    console.log("Argh! " + error);
  }
});

makeReadOnlyButton.addEventListener("click", async () => {
    console.log("User clicked make read-only button");

  try {
    const ndef = new NDEFReader();
    await ndef.makeReadOnly();
    console.log("> NFC tag has been made permanently read-only");
  } catch (error) {
     console.log("Argh! " + error);
  }
});
</script>
    
  


  </body>
</html>
