
<!doctype html>

<html lang="en">
  <head>
    <title>Web NFC Sample</title>
  </head>

  <body>
    
    <h1>Web NFC Sample</h1>
    <p class="availability">
    </p>
    <h3 >Background</h3>


<button id="scanButton">Scan</button>
<button id="writeButton">Write</button>
<button id="makeReadOnlyButton">Make Read-Only</button>


<p id="p1">Hello World!</p>

    
      <script>
      scanButton.addEventListener("click", async () => {
      console.log("User clicked scan button");
      document.getElementById("p1").innerHTML = "User clicked scan button";


    const ndef = new NDEFReader();
    await ndef.scan();
    document.getElementById("p1").innerHTML = "Scan started";
    console.log("> Scan started");

    const message = await new Promise((resolve) => {
  ndef.onreading = (event) => resolve(event.message);
  document.getElementById("p1").innerHTML = "Message has been read"+message;

});

document.getElementById("p1").innerHTML = "Message has been read"+message;
  
});

writeButton.addEventListener("click", async () => {
    console.log("User clicked write button");

  try {
    const ndef = new NDEFReader();
    await ndef.write("Hello world!");
    console.log("> Message written");
  } catch (error) {
    console.log("Argh! " + error);
  }
});

makeReadOnlyButton.addEventListener("click", async () => {
    console.log("User clicked make read-only button");

  try {
    const ndef = new NDEFReader();
    await ndef.makeReadOnly();
    console.log("> NFC tag has been made permanently read-only");
  } catch (error) {
     console.log("Argh! " + error);
  }
});
</script>
    
  


  </body>
</html>
